<footer class="article-footer">
  If you have any comments about my musings I'm on <a href="https://twitter.com/jonathansewell">Twitter</a> and <a href="www.linkedin.com/in/johnathan-sewell
  ">LinkedIn</a>. I'd love to hear them!
</header>
