  <header class="blog-header">
      <h1 class="blog-header__heading"><a href="/">Hi, I'm Johnathan Sewell</a></h1>
      <p class="blog-header__tagline">Software Engineer &amp; JavaScript Developer</p>
      <nav class="social-links">
        <a href="https://twitter.com/jonathansewell">Twitter</a>
        <a href="http://www.linkedin.com/in/johnathan-sewell">LinkedIn</a>
      </nav>
  </header>
